@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size:20px;
    letter-spacing: -0.6px;
    color: #101010;
    
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus{
    outline: none;
    border: 1px solid #315EFF;
}
@media screen and (max-width:640px){
    body{
        margin:2rem 1rem;
    }
}


@media screen and (min-width:640px){
    body{
        margin:8rem;
    }
}


