.this_plant {
  margin-top: 12px;
}

.sect_near_plant {
  margin-top: 33px;
  width: 100%;

  .container_plant_element {
    margin-top: 21px;

    &::-webkit-scrollbar {
      display: none;
    }

    .tag {
      display: inline-block;
      padding: 7px 14px;
      border-radius: 50px;
      margin-right: 6px;
      margin-bottom: 5px;
      background: none;
      border: 1px solid #b5b5b5;
      color: #b5b5b5;

      &.selected {
        border: 1px solid #315EFF;
        color: #315EFF;

        p {
          color: #315EFF;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.sect_show_graph {
  margin-top: 50px;
  display: flex;
  align-items: center;
  position: relative;

  .left_axis_selection,
  .right_axis_selection {
    position: absolute;
    z-index: 20;
    top: 120px;
    padding: 14px 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    text-align: center;
    box-sizing: content-box;

    &.left_axis_selection {
      left: 80px;
    }

    &.right_axis_selection {
      right: 70px;
      top: 120px;
    }
  }

  .axis_matter_multiple_pack {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left_axis_selection,
  .right_axis_selection {
    li {
      &:hover {
        cursor: pointer;
        color: #315EFF;
      }

      &.selected {
        color: #315EFF;
        font-weight: 700;
      }

      input {
        border: 1px solid #b5b5b5;
        border-radius: 5px;
        width: 50px;
        margin-top: 0;
        margin-top: 10px;
        text-align: center;

        &+li {
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }

  .left_axis,
  .right_axis {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0px 20px;

    &:hover {
      cursor: pointer;
    }
  }

  #chart_sect {
    img {
      width: 100%;
    }
  }
}

.sect_btns {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 50px;

  button:not(:last-child) {
    margin-right: 10px;
  }
}

.page_search_modal {
  width: 100%;
  height: 100vh;

  .sect_back_filter {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
  }

  .sect_search_modal {
    left: 50%;
    top: 50%;
    z-index: 1001;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    transform: translate(-50%, -50%);
    padding: 30px 20px;
    box-sizing: content-box;
    height: 600px;
    padding: 30px;
    overflow-y: scroll;

    .div_religion {
      margin-top: 30px;

      .input_container {
        margin-top: 15px;

        select {
          padding: 10px 12px;
          border: 1px solid #b5b5b5;
          border-radius: 5px;
          outline: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .div_period {
      margin-top: 30px;

      .input_container {
        margin-top: 15px;

        input {
          padding: 10px 12px;
          border: 1px solid #b5b5b5;
          border-radius: 5px;
          outline: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .div_rulebase {
      margin-top: 30px;

      .input_container {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(3, fit-content(500px));
        width: 100%;
        column-gap: 40px;
        row-gap: 20px;

        .check_container:nth-child(1) {
          grid-column: 1 / span 3;
        }

        input {
          padding: 10px 12px;
          border: 1px solid #b5b5b5;
          border-radius: 5px;
          outline: none;
          margin-left: 5px;
          width: 50px;
          margin-right: 15px;
        }

        .label_input_pack {
          display: flex;
          align-items: center;
          margin-bottom: 30px;

          button {
            width: 74px;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }

    .div_priority {
      margin-top: 30px;

      .input_container {
        display: flex;
        gap: 20px;
        margin-top: 12px;
      }

      .sect_priority {
        display: flex;
        align-items: center;

        span {
          margin-right: 10px;
        }

        select {
          padding: 10px 12px;
          border: 1px solid #b5b5b5;
          border-radius: 5px;
          outline: none;
          margin-left: 5px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .div_same_time {
      margin-top: 30px;

      .input_container {
        margin-top: 15px;
      }
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]+label {
    background: url("../img/icons/icon_check_false.svg");
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  input[type="checkbox"]:checked+label {
    background: url("../img/icons/icon_check_true.svg");
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  .check_option {
    margin-bottom: 10px;
    display: flex;
  }

  .sect_search_modal .sect_btns {
    justify-content: center;
    margin-top: 30px;
  }
}