* {
    margin: 0;
    padding: 0;
}

.tables_container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    // gap: 10px;
    flex-wrap: wrap;
    margin: auto;

    table {
        margin: 0;
        width: 340px;
        border-collapse: collapse;
        margin: auto;
        margin-top: 50px;
        table-layout: fixed;
        display: block;
        border: none;

        tr {
            width: 100%;

            td,
            th {
                padding: 10px 10px;
                width: 25%;
                border: 1px solid #b5b5b5;
            }

            th {
                font-weight: 700;
            }
        }

        .item_title {
            background-color: #DADADA;
        }


        .rule_name {
            background-color: #212430;
            color: white;
        }
    }
}